extends template 

block vars 
    - var title = "Profile Page"
    - var company = "Intellipaat"

block body 
    h1 #{title}
    h2 #{company}'s application
    a(href="/logout") Logout 
    br
    br
    if user
        ul 
            li #{user.firstname}
            li #{user.lastname}
            li #{user.email}